$primary: #4381e6;
$secondary: #f55727;
$cyan: #07a8a0;
$light: #faffff;
$dark: #232e2d;
$cyan-light:#e3faf7;
$cyan-dark: #01706b;
$cyan-smooke: #f2fffc;
$innovation-primary: #04bdde;
$innovation-secondary: #ed0e64;
$innovation-purple: #f26fd8;
$innovation-grey: #ebf7f4;