html {
    body {
        font-family: $font-vaani;
        h1,h2,h3,h4,h5,h6 {
            font-weight: 600;
            font-family: $roboto;
        }
        h1,h2 {
            color: $dark;
        }
        span {
            font-style: italic;
        }
        .app-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .d-f-c {
            display: flex;
            flex-direction: column;
        }
    }
}