@import './colors';

$font: "Mukta", sans-serif;
$font-vaani: 'Mukta Vaani', sans-serif;
$font-palay: 'Play', sans-serif;
$theme-colors: (
    "innovation-light": $cyan-smooke,
    "innovation-dark": $cyan,
    "innovation-secondary": white,
    "innovation-primary": $secondary
);