@import './colors';

$font: "Mukta", sans-serif;
$font-vaani: 'Mukta Vaani', sans-serif;
$font-palay: 'Play', sans-serif;
$theme-colors: (
    "innovation-light": $cyan-smooke,
    "innovation-dark": $cyan,
    "innovation-secondary": white,
    "innovation-primary": $secondary
);

$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
