.innovation-banner-row {
    background-color: $cyan;
    display: flex;
    height: 500px;
    color: white;
    justify-content: space-around;
    .bg-dark {
        background-color: $cyan;
        border: none;
    }
}