.innovation-h-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    .innovation-circle {
        padding: 10px;
        border: none;
        display: flex;
        color: $cyan;
        align-items: center;
    }
    .card-body {
        justify-content: space-around;
        background-color: $cyan;
        color: $cyan;
        font-weight: 400;
    }
}