.eb-row {
    margin: 0.2em;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px;
    border-left: solid $cyan;
    border-right: solid $cyan;
    border-radius: 20px;
    padding: 0.5em;
    background-color: $light;
    @include max-screen('tablet-up') {
        flex-direction: column;
        height: auto;
        align-items: center;
        border: none;
    }
    .eb-image {
        flex: 1;
        height: 100%;
        border-right: 0.15em solid $cyan;
        @include max-screen('tablet-up') {
            display: flex;
            justify-content: center;
            border: none;
            margin-bottom: 1em;
        }
        img {
            height: inherit;
            border-radius: 50%;
        }
    }
    .eb-card {
        height: 100%;
        flex: 1;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .eb-card-row {
            display: flex;
            justify-content: flex-start;
        }
        .eb-label {
            font-weight: 600;
        }
        .link-btn {
            display: flex;
            align-items: center;
        }
        .eb-link {
            display: flex;
            justify-content: space-between;
           a {
            display: block;
            width: 8em;
            text-align: center;
            height: 2em;
            font-weight: 600;
            color: #fff;
            background-color: $cyan;
            text-decoration: none;
            padding: 2px 10px;
            border-radius: 5px;
           }
            a:hover {
                color: $cyan-light;
                text-decoration: none; 
            }
        }       
    }
  
    .eb-text-bloc {
        flex: 3;
        flex-grow: 5;
        height: 100%;
        p {
            margin: 0;
        }
        .eb-text-bloc-paragraph {
            display: flex;
            align-items: center;
        }
    }
  
}