/*
 share between all component in exam-bloc module
*/

// general
.ep-raw {
    .exam-col-component {
        margin: 1em 0;
        .exams-card {
            box-shadow: 10px 5px 5px $gray-400;
            border-radius: 1.25rem;
            height: 100%;
            width: 100%;
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 200px;
            }
            .text-raw-label-col {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                // svg {
                //     color: $cyan-dark;
                // }
                .text-raw-label {
                    // font-weight: 400;
                    margin-left: 0.3em;
                }
            }
            .text-raw-value-col {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0;
            }
            .eb-link {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

// Bloc Section
.eb-raw {
    border-top: 1px solid $gray-100;
}

// upcoming bloc section
.eb-upcoming-exams-raw {
    .exams-card {
        background-color: $yellow-100;
        .btn {
            border-color: $black;
            color: $black; 
        }
        .btn:hover {
            background-color: $white;
            border-color: $white;
        }
        .btn:focus {
            box-shadow: none;
        }
        // color: white;
        // svg {
        //     color: white;
        // }
    }
}
// exam bloc section

// upcoming exam section
.eb-upcoming-exams-raw {
    .col-md-auto {
        height: 100%;
        width: 100%;
    }
  .eb-upcoming-exams-card {
    background-color: $light;
  
    h5 {
        font-weight: 500;
        color: $cyan-dark;
    }
    .text-raw-col {
        height: 100%;
        width: 100%;
    }
    .text-raw-label-col {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        svg {
            color: $cyan-dark;
        }
        .text-raw-label {
            font-weight: 400;
        }
    }
    .text-raw-value-col {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .eb-link {
        margin-top: 1em;
    }
    
  }
}

// exam-mobile-component section
.em-carousel {
    .carousel-dark {
        color: $cyan-dark;
    }
    .carousel-inner .active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $cyan-200;
        padding: 1em;
        border-radius: 2px;
        .carousel-caption {
            position: relative;
            color: unset;
            right: unset;
            left: unset;
            width: 100%;
            padding: 1em;
            margin-top: 1em;
        }
    }

}
.card {
    .card-img-top {
        height: 200px;
    }
    .card-text {
        .text-raw-col {
            display: flex;
        }
    }
}