
.info-bloc-row {
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 1em;
    color: white;
    height: 150px;
    border-radius: 10px;
    .d-f-c {
        flex: 2;
        align-items: center;
        height: 100%;
        padding: 1em;
        background-color: $cyan-700;
    }
    .info-bloc-image {
        background-color: $cyan-700;
    }
    @include media-breakpoint-down('md') {
        flex-direction: column-reverse;
        height: auto;
        .info-bloc-image {
            background-color: $cyan-700;
            width: 100%;
        }
    }
}
