.innovation-motto-col {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    #innovation-motto-row {
        justify-content: space-between;
        h2 {
            text-align: center;
        }
        .col {
            align-items: center;
            justify-content: center;
        }
        .motto-header {
            display: flex;
            justify-content: start;
            align-items: center;
            .motto-icon {
                margin-right: 0.5em;
                border-radius: 50%;
                background-color: $cyan-smooke;
                padding: 1em;
                color: $cyan;
            }
        }
    }
}