.motto-col {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    #motto-row {
        justify-content: space-between;
        h2 {
            text-align: center;
        }
        .col {
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
        }
        .motto-header {
            .subtitle {
                margin-left: 0.5em;
                text-align: center;
                color: $cyan-700;
            }
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1em;
            .rounded-circle {
                background-color: $light;
            }
        }
        .motto-card {
            .motto-paragraph {
                background-color: $cyan-700;
                border-radius: 10px;
                padding: 1em;
                color: $white;
                box-shadow: 2px 2px 5px $gray-400;
                height: 100px;
                overflow: hidden;
                @include media-breakpoint-down('md') {
                    height: auto;
                }
            }
        }
    }
}