.upcoming-exams-raw {
    .exams-card {
        color: $white;
        opacity: 1;
        background-color: $red;
        .icon-group {
            .card-text {
                background-color: $white;
                color: $red;
            }
        }
        .card-title {
            color: $red;
            background-color: $red-100;
        }
        .btn {
            color: $red;
            border-color: $white;
            background-color: $white;
            box-shadow: 4px 2px 2px $red-100;
        }
        .btn:focus {
            box-shadow: none;
        }
    }
}